<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ucas.cloudenterprise">
    <!--  网络权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--  储存卡 读 权限-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!--  储存卡 写 权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!--  前台服务 权限 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>


    <!--  MyApplication      -->
    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--  core   service  后台服务   -->
        <service
            android:name=".core.DaemonService"
            android:enabled="true"
            android:exported="true">
        </service>

        <!--  第一个启动的   activity （页面）   -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>







    </application>

</manifest>