<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ucas.cloudenterprise">
    <!--  网络权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--  储存卡 读 权限-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!--  储存卡 写 权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!--  前台服务 权限 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>


    <!--  MyApplication   usesCleartextTraffic 允许http请求   android:requestLegacyExternalStorage="true"   requestLegacyExternalStorage外部设备 -->
    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_icon_name"
        android:usesCleartextTraffic="true"
        android:sharedUserId="android.uid.system"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 如果您项目中的所有页面都只需要以高或宽中的一个作为基准进行适配的话, 那就只需要填写高或宽中的一个设计图尺寸即可 -->

        <meta-data
            android:name="design_width_in_dp"
            android:value="375"/>

        <!--  core   service  后台服务   -->
        <service
            android:name=".core.DaemonService"
            android:enabled="true"
            android:exported="true">
        </service>

        <!--  第一个启动的   activity （页面）   -->

        <activity android:name=".ui.LoginActivity">
<!--        <activity android:name=".ui.MainActivity">-->
<!--        <activity android:name=".ui.TeamAcitvity">-->
<!--        <activity android:name=".ui.ChooseDestDirActivity">-->
<!--        <activity android:name=".ui.message.MessageNotificationActivity">-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
            <!--    Main     -->
        <activity android:name=".ui.MainActivity" android:launchMode="singleTop"/>

        <!--    注册页面     -->
        <activity android:name=".ui.SplashActivity" android:launchMode="singleTop"/>

        <!-- 欢迎   页面-->
        <activity android:name=".ui.WelcomeActivity"/>
        <!-- 注册   页面-->
          <activity android:name=".ui.RegisterActivity"/>
        <!-- 文件详情        -->
        <activity android:name=".ui.FileInfoActivity"/>
        <!-- 文件搜索        -->
        <activity android:name=".ui.SearchFileActivity" />
        <!-- 选择目标文件夹        -->
        <activity android:name=".ui.ChooseDestDirActivity"/>
        <!-- 设置共享文件        -->
        <activity android:name=".ui.SetCommonFileActivity"/>
        <!-- 权限说明        -->
        <activity android:name=".ui.PermissionToIllustrateActivity"/>
        <!-- 链接分享      -->
        <activity android:name=".ui.LinkSharedActivity"/>



        <!-- 成员管理      -->
        <activity android:name=".ui.member.MembersManageActivity"/>

        <!-- 选择成员        -->
        <activity android:name=".ui.SelectMembersActivity"/>
        <!-- 成员搜索        -->
        <activity android:name=".ui.member.MemberSearchActivity"/>
        <!-- 邀请成员        -->
        <activity android:name=".ui.member.MemberInviteActivity"/>
        <!-- 修改邀请成员链接        -->
        <activity android:name=".ui.member.EditMemberInviteLinkActivity"/>


        <!-- 成员审核        -->
        <activity android:name=".ui.member.MemberAuditActivity"/>
        <!-- 成员审核 详情       -->
        <activity android:name=".ui.member.MemberAuditInfoActivity"/>
        <!-- 成员 详情 修改      -->
        <activity android:name=".ui.member.MemberInfoActivity"/>
        <activity android:name=".ui.member.MemberInfoEditActivity"/>

        <!-- 成员管理      -->
        <activity android:name=".ui.member.MemberAddActivity"/>


        <!-- 关于        -->
        <activity android:name=".ui.AboutActivity"/>
        <!-- 设置        -->
        <activity android:name=".ui.SettingsActivity"/>
        <!-- 消息通知        -->
        <activity android:name=".ui.message.MessageNotificationActivity"/>

        <!-- 帮助和反馈        -->
        <activity android:name=".ui.helpandfeedback.HelpAndFeedbackActivity"/>
        <!-- 热门问题        -->
        <activity android:name=".ui.helpandfeedback.HotIssueActivity"/>
        <!-- 我的反馈       -->
        <activity android:name=".ui.helpandfeedback.MyFeedbackActivity"/>
            <!--       意见、 反馈详情    -->
        <activity android:name=".ui.helpandfeedback.FeedbackInfoActivity"/>



    <!--       忘记密码 验证手机号    -->
        <activity android:name=".ui.ForgetPasswordActivity"/>
        <!--      重置密码   -->
        <activity android:name=".ui.EditPersonalInfoActivity"/>
        <activity android:name=".ui.CommonWebActivity"/>



    </application>

</manifest>