<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ucas.cloudenterprise">
    <!--  网络权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--  储存卡 读 权限-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!--  储存卡 写 权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!--  前台服务 权限 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>


    <!--  MyApplication   usesCleartextTraffic 允许http请求    requestLegacyExternalStorage外部设备 -->
    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 如果您项目中的所有页面都只需要以高或宽中的一个作为基准进行适配的话, 那就只需要填写高或宽中的一个设计图尺寸即可 -->

        <meta-data
            android:name="design_width_in_dp"
            android:value="375"/>

        <!--  core   service  后台服务   -->
        <service
            android:name=".core.DaemonService"
            android:enabled="true"
            android:exported="true">
        </service>

        <!--  第一个启动的   activity （页面）   -->

        <activity android:name=".ui.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
            <!--    Main     -->
        <activity android:name=".ui.MainActivity" android:launchMode="singleTop"/>

        <!--    注册页面     -->
<!--        <activity android:name=".ui.SplashActivity" android:launchMode="singleTop"/>-->

        <!-- 欢迎   页面-->
        <activity android:name=".ui.WelcomeActivity"/>
        <!-- 注册   页面-->
          <activity android:name=".ui.RegisterActivity"/>

        <activity android:name=".ui.FileInfoActivity"/>






    </application>

</manifest>